# SLiMS Environment Settings
APP_ENV=production
DB_USER=root
DB_PASS=your_db_password_here
DB_NAME=senayan

# Deployment VPS Configuration
DEPLOY_SSH_IP=43.159.63.105
DEPLOY_SSH_USER=ubuntu
DEPLOY_SSH_KEY=/Users/admin/.ssh/vps_baru.key
DEPLOY_DOCKER_NETWORK=galura_slims_net
DEPLOY_IMAGE_REPO=ghcr.io/galura-it-solution/galura-slims
GHCR_USERNAME=galura-it-solution
GHCR_TOKEN=

# Zone / Instance Configuration
# Zone EDU: slims-edu.galura.id
DEPLOY_PORT_EDU=8081
DEPLOY_CONTAINER_PORT_EDU=80
DEPLOY_DB_PORT_EDU=3307
DEPLOY_IMAGE_EDU=ghcr.io/galura-it-solution/galura-slims-edu:latest

# Zone EBOOK: slims-ebook.galura.id
DEPLOY_PORT_EBOOK=8082
DEPLOY_CONTAINER_PORT_EBOOK=80
DEPLOY_DB_PORT_EBOOK=3308
DEPLOY_IMAGE_EBOOK=ghcr.io/galura-it-solution/galura-slims-ebook:latest
